In [25]:
import pandas as pd
import os

# Prompt user to enter file name
file_name = input("Enter the file name: ").lower() + '.csv'

# Check if file exists
if not os.path.isfile(file_name):
    print("File not found, please enter the correct file name")
else:
# the try except block
    try:
        # Load CSV file into a pandas DataFrame
        df = pd.read_csv(file_name)
    except csv.Error:
        # Handle errors that occur while reading the CSV file
        print("An error occurred while reading the file")

Enter the file name: airbnb_uk_2022

# Top Amenities

In [23]:
# Prompt user to enter the number of top amenities they want to see
top_amenities = int(input("Enter the number of top amenities you want to see: "))

# Create a dictionary to store the counts of each amenity
amenities_counts = {}

# Loop through each row of the 'amenities' column
for amenities_list in df['amenities']:
    # Remove special characters from the amenities string
    amenities = amenities_list.replace('[', '').replace(']', '').replace('"', '').replace("'", "").replace(" ", "").split(',')
    # Loop through each amenity and add it to the counts dictionary
    for amenity in amenities:
        if amenity in amenities_counts:
            amenities_counts[amenity] += 1
        else:
            amenities_counts[amenity] = 1

# Sort the amenities by count in descending order
sorted_amenities = sorted(amenities_counts.items(), key=lambda x: x[1], reverse=True)

# Print the top n amenities as specified by the user
print(f"Top {top_amenities} amenities:")
for i in range(top_amenities):
    print(f"- {sorted_amenities[i][0]}: {sorted_amenities[i][1]}")

Enter the number of top amenities you want to see: 20
Top 20 amenities:
- Smokealarm: 7981
- Kitchen: 7700
- Essentials: 7538
- Wifi: 7358
- Iron: 6710
- Hangers: 6651
- Hotwater: 6610
- Longtermstaysallowed: 6607
- Dishesandsilverware: 6415
- Hairdryer: 6272
- Carbonmonoxidealarm: 5997
- Refrigerator: 5917
- Cookingbasics: 5787
- Heating: 5662
- Washer: 5421
- Bedlinens: 5199
- Shampoo: 4875
- Microwave: 4453
- Oven: 4210
- Dedicatedworkspace: 3929

In [57]:
# Identifying the top 10 most popular amenities or features that Airbnb hosts provide to customers
amenities_counts = {}
for amenities_list in df['amenities']:
    amenities = amenities_list.replace('[', '').replace(']', '').replace('"', '').replace("'", "").replace(" ", "").split(',')
    for amenity in amenities:
        if amenity in amenities_counts:
            amenities_counts[amenity] += 1
        else:
            amenities_counts[amenity] = 1

top_amenities = sorted(amenities_counts.items(), key=lambda x: x[1], reverse=True)[:10]
print("Top 10 amenities:")
for amenity in top_amenities:
    print(f"- {amenity[0]}: {amenity[1]}")

Top 10 amenities:
- Smokealarm: 7981
- Kitchen: 7700
- Essentials: 7538
- Wifi: 7358
- Iron: 6710
- Hangers: 6651
- Hotwater: 6610
- Longtermstaysallowed: 6607
- Dishesandsilverware: 6415
- Hairdryer: 6272

# Average Price of Stay in Each Location

In [46]:
# Prompt user to enter location
location = input("Enter location: ").lower()

try:
    # Filter the dataframe to include only the specified location
    location_df = df.loc[df['host_location'].str.contains(location, case=False)]

    # Calculate the average price for the specified location
    avg_price = location_df['price'].mean()

    # Print the average price for the specified location
    print(f"The average price for stays in {location.capitalize()} is £{avg_price:.2f} per night.")

except KeyError:
    print(f"Error: 'host_location' column not found in dataset. Please check and try again.")

except ValueError:
    print(f"Error: no data found for location '{location}'. Please check the spelling and try again.")

Enter location: LONDON
The average price for stays in London is £149.69 per night.

In [36]:
# Task 2: Analyse the average price of stay in each location
avg_price_by_location = df.groupby('host_location')['price'].mean()
print("Average price by location:")
for location, avg_price in avg_price_by_location.items():
    print(f"{location}: {avg_price:.2f}")

Average price by location:
Aberdeen: 152.33
Aberystwyth: 64.00
Addington: 124.00
Ascot: 300.00
Ashford: 65.38
Ashtead: 104.00
Ashurstwood: 239.00
Avebury: 90.00
Aveley: 72.00
Aynho: 380.00
Banbury: 110.00
Banstead: 75.75
Barking: 64.00
Barnet: 54.00
Basildon: 159.00
Bath: 167.00
Beckenham: 158.00
Begbroke: 263.00
Belfast: 136.00
Belvedere: 49.00
Bexley: 78.75
Bexleyheath: 82.33
Binton: 100.00
Birmingham: 90.00
Bishop's Stortford: 200.00
Bondleigh: 205.00
Borehamwood: 35.00
Boughton Monchelsea: 200.00
Bournemouth: 110.67
Bradley Stoke: 119.00
Brecon: 214.00
Brent: 36.00
Brentford: 69.14
Brentwood: 115.00
Bricket Wood: 561.00
Bridford: 145.00
Brighton: 146.78
Bristol: 75.88
Bromley: 44.80
Brookwood: 110.00
Buckhurst Hill: 178.50
Burnham: 160.00
Burntwood: 150.00
Buscot: 700.00
Bushey: 44.00
Butterleigh: 638.00
Buxton: 107.00
Cambridge: 283.00
Camden Town: 57.00
Canterbury: 131.00
Capel Isaac: 200.00
Cardiff: 108.50
Carshalton: 56.75
Caterham: 72.00
Chaldon: 70.00
Chelmsford: 136.67
Chertsey: 132.00
Chester: 236.00
Chestfield: 218.00
Chichester: 200.00
Chiddingfold: 350.00
Chigwell: 38.00
Child Okeford: 331.00
Chislehurst: 175.00
Chorleywood: 140.00
Cirencester: 292.00
Claygate: 69.50
Colchester: 315.00
College Town: 150.00
Cookham: 135.50
Cothelstone: 150.00
Coulsdon: 54.00
Coventry: 154.00
Cowdenbeath: 90.00
Coxley: 120.00
Cranbrook: 439.00
Crediton: 32.00
Crockenhill: 137.00
Crockerton: 360.00
Crostwick: 300.00
Croydon: 77.07
Cuffley: 35.00
Dagenham: 91.29
Dartford: 179.57
Delph: 511.00
Denham: 116.00
Denton: 85.00
Downe: 76.00
Dundee: 156.50
East Molesey: 148.56
Eastbourne: 250.00
Edgware: 90.00
Edinburgh: 155.82
Egerton: 185.00
Elstree: 168.00
Enfield: 68.14
Epsom: 104.50
Esher: 94.00
Ewell: 150.00
Exeter: 146.00
Fairwarp: 52.00
Farnborough: 180.00
Farnham: 142.00
Feltham: 110.33
Fetcham: 178.00
Findon: 80.00
Frittenden: 250.00
Frome: 110.00
Fyfield: 256.00
Gamston: 145.00
Giffnock: 239.00
Gillingham: 100.00
Glasgow: 75.00
Gloucester: 148.00
Goff's Oak: 65.00
Great Chesterford: 184.00
Great Milton: 325.00
Great Missenden: 379.00
Great Waltham: 37.00
Green Tye: 125.00
Greenford: 58.00
Gretton: 130.00
Guildford: 355.20
Guiseley: 131.00
Hackney: 64.00
Hagley: 156.00
Hammersmith: 140.00
Hampreston: 450.00
Hampton: 134.17
Hampton Hill: 40.00
Hampton Wick: 105.00
Hamstead Marshall: 55.00
Harefield: 80.00
Harlington: 85.00
Harrogate: 280.00
Harrow: 78.15
Hartland: 200.00
Hayes: 36.33
Hayle: 99.00
Hebden Bridge: 115.00
Herne Bay: 120.00
Hessle: 175.00
High Wycombe: 244.00
Hinton Ampner: 241.00
Hordle: 275.00
Horley: 190.00
Hornchurch: 97.67
Horsham: 800.00
Hounslow: 44.33
Hove: 107.00
Huddersfield: 61.00
Hull: 314.00
Huntington: 90.00
Hurst Green: 41.00
Hurstpierpoint: 160.00
Ickenham: 48.33
Ilford: 42.75
Instow: 150.00
Isleworth: 65.75
Islington: 50.00
Kendal: 85.00
Kensington: 75.00
Kingston upon Thames: 119.65
Kirdford: 139.00
Langley: 386.00
Leeds: 89.00
Leicester: 133.00
Linchmere: 254.00
Lindfield: 212.00
Linkenholt: 375.00
Little Ann: 228.00
Liverpool: 170.00
London: 149.69
Long Ditton: 115.00
Longford: 140.00
Loughborough: 139.00
Loughton: 80.00
Ludlow: 220.00
Luton: 71.50
Lymm: 80.00
Lyng: 380.00
Maidstone: 139.00
Manchester: 159.42
Margate: 195.00
Marlow: 193.00
Martlesham: 200.00
Mells: 65.00
Milton Keynes: 40.50
Mitcham: 33.75
Molesey: 140.00
Monxton: 350.00
Morden: 83.75
New Barnet: 157.75
New Malden: 104.17
Newbury: 138.00
Newcastle Upon Tyne: 140.00
Newcastle upon Tyne: 150.00
Newgale: 65.00
Northaw: 90.00
Northolt: 84.00
Northwood: 60.40
Norwich: 157.50
Nottingham: 95.00
Oakley: 170.00
Old Coulsdon: 39.00
Orpington: 84.91
Oxford: 143.62
Paddington: 123.00
Perivale: 49.33
Pinner: 60.00
Poole: 140.50
Potters Bar: 97.50
Prestwich: 45.00
Purleigh: 309.00
Purley: 140.00
Rainham: 30.00
Reading: 161.50
Reigate: 91.00
Richmond: 203.44
Rickmansworth: 72.40
Ripponden: 200.00
Roade: 303.00
Romford: 115.09
Royal Leamington Spa: 171.00
Royal Tunbridge Wells: 250.00
Ruddington: 103.00
Ruislip: 103.00
Rye: 850.00
Saint Albans: 155.00
Saint Leonards: 119.67
Saint Mary Bourne: 95.00
Salisbury: 67.50
Sandhurst: 85.00
Scawby: 250.00
Scotland: 172.25
Selsey: 159.00
Sevenoaks: 198.33
Shaftesbury: 85.00
Sheffield: 280.00
Shillington: 100.00
Shoreham-by-Sea: 2357.50
Shrivenham: 155.00
Sidcup: 49.50
Skewen: 100.00
Slough: 181.00
Solihull: 163.50
Sompting: 55.00
South Croydon: 41.00
South Littleton: 200.00
South Ockendon: 44.50
Southall: 85.00
Southampton: 150.00
Southend-on-Sea: 131.25
St Albans: 66.00
St. Ives: 120.00
Staines-upon-Thames: 31.00
Stanwell: 62.50
Stapleford Abbotts: 85.00
Stelling Minnis: 125.00
Stirling: 508.00
Stockport: 267.00
Stratford: 54.00
Stratford-upon-Avon: 70.00
Sunbury: 120.00
Sunbury-on-Thames: 57.33
Sunninghill: 200.00
Surbiton: 116.57
Sutton: 82.78
Sutton Weaver: 144.00
Swansea: 250.00
Taplow: 161.00
Tatsfield: 75.00
Teddington: 75.75
Thames Ditton: 143.57
Thetford: 220.00
Thornton Heath: 45.67
Tibbermore: 350.00
Tilton on the Hill: 219.00
Tolleshunt D'Arcy: 130.00
Totnes: 131.00
Truro: 202.50
Tunworth: 110.00
Twickenham: 98.00
Upminster: 200.00
Upper Basildon: 95.00
Uxbridge: 87.25
Wales: 274.33
Wallington: 55.67
Waltham Abbey: 62.33
Walton-on-Thames: 127.00
Warlingham: 119.00
Watford: 174.00
Welling: 51.67
Wembley: 184.20
West Hyde: 52.00
West Molesey: 53.33
West Pennard: 211.00
West Wittering: 420.00
Westerham: 69.00
Weston Rhyn: 132.00
Weybridge: 153.00
Winchester: 142.00
Windsor: 303.50
Winterbourne: 139.00
Wolverton: 87.00
Woodford: 65.33
Worcester Park: 37.00
Wraysbury: 76.00
York: 250.00